<script type="text/javascript" src="/static/frameworks/angular-1.5.5/angular.js" charset="utf-8"></script>
<script type='text/javascript' src='/static/frameworks/angular-1.5.5/angular-animate.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/frameworks/angular-1.5.5/angular-route.min.js' charset='utf-8'></script>

<script type="text/javascript" src="/static/js/serviceJS/httpService.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/pagesJS/login.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/utilJS/util.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/utilJS/jquery.cookie.js" charset="utf-8"></script>