---
layout: base_page
title: 农机跟踪
---

{% include mapScript.html %}
{% include temp/control_head.html %}

<div class="main_container">
    <div class="row full_height">
        <div class="col-md-9 map_part">
            <div class="row map_top">
                <div id="map_container"></div>
            </div>
            <div class="row map_bottom border">
                <div class="row ">
                    <div class="col-md-4">
                        <div id="operation">

                            <button type="button" class="btn btn-default" onclick="goShuangGou()">跳转双沟</button>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" onclick="goShuangGou()">跳转双沟</button>
                                <button type="button" class="btn btn-default">Middle</button>
                                <button type="button" class="btn btn-default">Right</button>
                            </div>

                            <span class="label label-success">
                                <a onclick="goCurrentPosition()">跳转到当前位置</a>
                            </span>
                            <input type="button" class="btn btn-info btn-mini" value="跳转到当前位置s"
                                   onclick="goCurrentPosition()"/>
                            <input type="button" value="跳转到双沟镇" onclick="goShuangGou()"/>
                            <input type="button" value="清除所有覆盖物" onclick="clearAll()"/>
                            <input type="button" value="清除所有线" onclick="cleanLines()"/>
                        </div>

                        <div class="widget-content">
                            <p>
                                <button class="btn btn-info btn-mini">Button</button>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group map_info">
                            <li class="list-group-item list-group-item-success">
                                <span class="badge">14</span>
                                Dapibus ac facilisis in
                            </li>
                            <li class="list-group-item list-group-item-info">Morbi leo risus</li>
                            <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                            <li class="list-group-item list-group-item-danger">Porta ac consectetur ac</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 info_part ">
            <div class="row">
                <div class="col-md-12">
                    {% include temp/datetime.html id='dtp_start' text='开始时间:' %}
                    {% include temp/datetime.html id='dtp_end' addDays='1' text='结束时间:' %}
                    {% include temp/textbox.html id='dtp_car' text='车牌号:' placeholder='请输入车牌号' showButton = true
                    onclick='onSearchClick()' onTextChange='onAutoSearch(value)' %}
                    {% include temp/simple_table.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 新建地图
    var machMap = new MachMap();
    // 新建表格
    var simpleTableGen = new SimpleTableGen();
    // gps记录
    var gpsRecordLine = new GpsRecordLine();
    var map = machMap.map;
    var apiObjUrl = API_URL + '/api/gpsRecords';

    // 本地存储上次的查询条件
    var startTime_local;
    var endTime_local;
    var carInfo_local;

    var settings = new Object();
    settings.columns = [{
        field: 'machCode',
        title: '车号',
        align: 'center',
    }, {
        field: 'machName',
        title: '车型',
        align: 'center',
    }, {
        field: 'gpsStartTime',
        title: '开始时间',
        formatter: simpleTableGen.shortDateFormatter,
        align: 'center',
    }, {
        field: 'gpsEndTime',
        title: '结束时间',
        formatter: simpleTableGen.shortDateFormatter,
        align: 'center',
    }];

    settings.onDblClickRow = function (row, $element) {
        onRowDbClick(row, $element);
    }

    var overLays = new Array();

    simpleTableGen.settings = settings;
    simpleTableGen.bind();

    function cleanLines() {
        overLays.forEach(function (overLay) {
            map.removeOverlay(overLay);
        });
        overLays = [];
    }

    //跳转到徐州双沟镇
    function goShuangGou() {
        var sgPoint = new BMap.Point(117.606257, 34.042178);
        var mk = new BMap.Marker(sgPoint);//添加标记点
        machMap.map.addOverlay(mk);
        machMap.map.panTo(sgPoint);
        machMap.map.setCenter(sgPoint);
    }

    //清除覆盖物
    function clearAll() {
        machMap.clearAll();
    }

    var fullData = null;

    // 自动查询本地缓存结果
    function onAutoSearch(value) {
        if (fullData == null) {
            fullData = simpleTableGen.table.bootstrapTable('getData');
        }
        var newData = new Array();
        fullData.forEach(function (item) {
            if (item.machCode.indexOf(value) > 0 || item.machName.indexOf(value) > 0) {
                newData.push(item);
            }
        });
        var checkCondition = value.length > carInfo_local.length && value.indexOf(carInfo_local) > 0 || (carInfo_local.length == 0 && value.length > 0);
        if (checkCondition) {
            simpleTableGen.table.bootstrapTable('load', newData);
        }
        else {
            simpleTableGen.table.bootstrapTable('load', fullData);
        }
    }

    // 查询农机列表
    function onSearchClick() {
        fullData = null;
        startTime_local = $("#dtp_start").val();
        endTime_local = $("#dtp_end").val();
        carInfo_local = $("#dtp_car").val();


        var requestUrl = encodeURI(apiObjUrl + "?startTime=" + startTime_local + "&endTime=" + endTime_local + "&machCode=" + carInfo_local);
        $.get(requestUrl, function (result) {
            fullData = result;
            simpleTableGen.table.bootstrapTable('load', result);
        });

    }
    // 双击选中行事件
    function onRowDbClick(row, $element) {
        if ($element.attr('class')) {
            $element.removeClass('success');
            machMap.removeGpsRecords(row);
        }
        else {
            $element.addClass('success');
            machMap.addGpsRecords(row);
        }
    }


    onSearchClick();
    //    machMap.enableMapClick();

</script>