<!--bui框架-->
<link rel="stylesheet" type="text/css" href="/static/frameworks/assets/css/dpl-min.css">
<link rel="stylesheet" type="text/css" href="/static/frameworks/assets/css/bui-min.css">
<link rel="stylesheet" type="text/css" href="/static/frameworks/assets/css/main.css">
<script type="text/javascript" src="/static/frameworks/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/frameworks/assets/js/bui.js"></script>
<script type="text/javascript" src="/static/frameworks/assets/js/config-min.js"></script>
<script type="text/javascript" src="/static/js/utilJS/jquery.cookie.js"></script>