<!--修改后的网页js-->

<script src="/static/js/jquery/jQuery-2.2.0.min.js"></script>
<script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/charts/index.js"></script>
<script src="/static/js/utilJS/jquery.cookie.js"></script>


<link rel="stylesheet" href="/static/js/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/all-skins.css">