<script type="text/javascript" src="/static/js/pagesJS/simple_table_gen.js" charset="utf-8"></script>

<div ng-app="machApp" ng-controller="machCtrl" class="modal fade" id="machTerminalModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">绑定农机终端</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                <div id="toolbar1">
                    <input type="text" class="hidden" id="id">
                    <input type="text" class="hidden" id="machId">
                    <span class="label label-primary">请 双 击 需 要 绑 定 的 终 端 设 备！</span>
                </div>
                <table id="machTerminalTable"
                       style="-moz-user-select:none;"
                       onselectstart="return false;"
                       class="table table-hover table-bordered table-striped"
                       data-toolbar="#toolbar1"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-export="true"
                       data-minimum-count-columns="2"
                       data-show-pagination-switch="true"
                       data-pagination="true"
                       data-id-field="id"
                       data-page-list="[10, 25, 50, 100, ALL]"
                       datatype="json"
                       data-local="zh-US"
                        >
                </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i> 取消
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var simpleTableGen = new SimpleTableGen();
    simpleTableGen.tableID = 'machTerminalTable';

    simpleTableGen.apiName = 'terminals';

    var settings = new Object();
    settings.columns = [{
        title: 'ID',
        field: 'id',
        align: 'center',
        sortable: true,
    }, {
        title: '终端号',
        field: 'terminalCode',
        align: 'center',
    }, {
        title: '终端名称',
        field: 'terminalName',
        align: 'center',
    }, {
        title: '手机号码',
        field: 'callNo',
        align: 'center',
    }, {
        title: '状态',
        field: 'state',
        align: 'center',
    }, {
        title: '备注',
        field: 'notes',
        align: 'center',
    }];

    settings.height = $(window).height() - 350;

    var terminalDataURL = '{{ site.apiurl }}/api/{{ include.terminal }}?isBind=false';

    settings.onDblClickRow = function (row, $element) {
        var id = $("#id").val();
        var machId = $("#machId").val();
        var terminalId = row.id;
        //console.log("machTerminalId:" + id + ", machId:" + machId + ", terminalId:" + terminalId);
        var url = apiObjUrl;
        console.log(url);
        $.ajax({
            url: url,
            type: 'POST',
            data: '{"id":"' + id + '", "machId":"' + machId + '", "terminalId":"' + terminalId + '"}',
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", $.cookie('author_code'));
            },
            success: function (data, state, result) {
                //console.log("state: " + state + ", status:" + result.status + ", statusText:" + result.statusText);
                //console.log("success data:" + JSON.stringify(data));
                if (state == 'success') {
                    $('#machTerminalModal').modal('hide');
                    loadTerminalData(terminalDataURL);
                    refreshData(apiObjUrl);
                    alertTip('success');
                }
            },
            error: function (result, state) {
                alertTip('error');
                //console.log("state: " + state + ", status: " + result.status + ", statusText: " + result.statusText);
            }
        });
    }

    //加载数据
    function loadTerminalData(url) {
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", $.cookie('author_code'));
            },
            success: function (data) {
                $('#machTerminalTable').bootstrapTable('load', data);
            },
            error: function (err) {

            }
        });
    }

    window.onload = loadTerminalData(terminalDataURL);

    simpleTableGen.settings = settings;

    simpleTableGen.bind();

    var app = angular.module('machApp', []);
    app.controller('machCtrl', function ($scope, $http) {

    });

</script>